<% if (errorMessage) { %>
	<div class="alert alert-error alert-soft">
		<%= errorMessage %>
	</div>
<% } %>

<% if (successMessage) { %>
	<%- include("./users-list", { users, useOobSwap: true }) %>
	<%- include("./toast", { message: successMessage, type: "success" }) %>
<% } %>
