<label id="create-user-password-field" class="form-control">
	<span class="label-text mb-2 font-semibold">Contraseña temporal</span>
	<div class="flex gap-2">
		<input
			class="input input-bordered min-w-0 flex-1"
			type="text" name="password" value="<%= suggestedPassword %>" autocomplete="new-password" />
		<button
			type="button"
			class="btn btn-outline"
			hx-get="/admin/users/password-suggestion"
			hx-target="#create-user-password-field"
			hx-swap="outerHTML">
			Sugerir
		</button>
	</div>
</label>
